*{
    margin:0;
    padding: 0;
}
body{
    background: green;
}
.contenedor{
    width: 300px;
    margin:  auto;
    position: relative;
    cursor: pointer;
    height: 400px;
    transition: all 1s ease;
}
.contenedor{
    
    
    -webkit-perspective: 700;
}
.carta{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
    
}
.carta:hover{
    transform: rotateY(180deg);
}
.lado{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    
}
.frente{
 background: orangered;
}
.trasero{
    font-size: 80px;
    font-weight: 90px;
    text-align: center;
    background-color: #F5CBA7 ; 
    transform: rotateY(180deg);
    
}
img{
    width: 100%;
    height: 100%;
}

#reglas{
    margin: 15px, 15px;
    padding-bottom: 25px;
}
#reglas table #marcador{
    width: 200px;
    
   
   
}
#marcador{
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

    background-color: #A9DFBF;
    width: 220px;
    height: 120px;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left:80px;
    margin-top: 40px;
}
td{
    border: 2px solid black;
    border-collapse: collapse;
}
 