body{
    margin:5px;
    padding: 0;
}
form{
   width: 50%;
   height: 50%;

}
form input{
    background-color:lightblue;
     width: 45px;
    height: 45px;
    padding: 15px, 15px;
    border-bottom: 5px;
    border-left: 5px;
    border-color: gray;
    font-size: 40px;
    text-align: center;
    
}
input[type=button]{
    width: 100px;
    height: 30px;
    margin: 25px 20px;
    border-bottom: 5px;
    border-left: 5px;
    border-color: gray;
    font-size: 15px;
    
}
.signo{
    width: 10px;
    height: 10px;

}
td{
    border:2 solid #333;
    height:50px;
    width:50px;
    text-align:center;
    background-color: white;
    
}
.marcador{
    padding: 15px 15px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
}
table{
    border: 5px solid black;
    background-color: #242528;


}
#titulo{
    background-color: grey;
}
