#reglas{
    margin: 15px, 15px;
    padding-bottom: 25px;
}
table{
    width: 400px;
    height: 400px;
    background-color: silver;
    font-size: 35px;
    padding: 2px,2px;
    border: 5px solid black;
    background-color: #17202A;
}
td{
    width: auto;
    height: auto;
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
    border: 1px solid black;
   
}
td:hover{
    background-color: slategrey;
}
.reglas table #marcador{
    width: 200px;
    position:static;
    margin-left:40%;
}
#marcador{
    color: black;
    font-size: small;
    background-color: #A9DFBF;
    width: 180px;
    height: 100px;
    border: 1px solid black;
    padding:1px;
    border-collapse: collapse;
}
 #marcador td{
    color: black;
    font-size: 15px;
    
}

.limit{
    
    border-right: 4px solid darkred;
    padding-right: 5px;
}
.limit td:first-child td{
    border-top: 0;
}
.limit td tr:last-child td{
    border-bottom: 0;
}
.limit td tr td:first-child{
    border-left: 0;
}
.limit td td:last-child{
    border-right: 0;
}
#celda{
    width: 40px;
    height: 40px;
    font-size: 35px;
    color: wheat;
    border: none;
    background-color: #17202A;
}